/* Custom styles for pagination */
.swiper-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1000px;
  width: 100%;
  
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background-color: #fff; /* Change color as needed */
  opacity: 0.7;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Custom styles for navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: purple; /* Change color as needed */
  font-size: 10px;
  width:10px;
  height:10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
